<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oxygen.studentinfo.dao.CollegeMapper" >
  <resultMap id="BaseResultMap" type="com.oxygen.studentinfo.entity.College" >
    <id column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="college_name" property="collegeName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    college_id, college_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from college
    where college_id = #{collegeId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByName" parameterType="java.lang.String" >
    delete from college
    where college_name = #{collegeName,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from college
    where college_id = #{collegeId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.oxygen.studentinfo.entity.College" >
    insert into college (college_id, college_name)
    values (#{collegeId,jdbcType=INTEGER}, #{collegeName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.oxygen.studentinfo.entity.College" >
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collegeId != null" >
        college_id,
      </if>
      <if test="collegeName != null" >
        college_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="collegeName != null" >
        #{collegeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.oxygen.studentinfo.entity.College" >
    update college
    <set >
      <if test="collegeName != null" >
        college_name = #{collegeName,jdbcType=VARCHAR},
      </if>
    </set>
    where college_id = #{collegeId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.oxygen.studentinfo.entity.College" >
    update college
    set college_name = #{collegeName,jdbcType=VARCHAR}
    where college_id = #{collegeId,jdbcType=INTEGER}
  </update>

</mapper>