<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oxygen.studentinfo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.oxygen.studentinfo.entity.User" >
    <id column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    tid, tname, openid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where tid = #{tid,jdbcType=VARCHAR}
  </select>

  <select id="selectByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where openid = #{openid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where tid = #{tid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.oxygen.studentinfo.entity.User" >
    insert into user (tid, tname, openid
      )
    values (#{tid,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.oxygen.studentinfo.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="openid != null" >
        openid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.oxygen.studentinfo.entity.User" >
    update user
    <set >
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.oxygen.studentinfo.entity.User" >
    update user
    set tname = #{tname,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=VARCHAR}
  </update>

</mapper>